# Python
__pycache__/
*.py[cod]
*.so
.env
.venv
env/
venv/

# Node.js / Angular
**/node_modules
/frontend/leaderboard-app/dist
/frontend/leaderboard-app/tmp
npm-debug.log*

# Docker
.dockerignore
docker-compose.override.yml

# Logs and temporary files
*.log
*.tmp
*.bak

# IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Future Improvements directory (as a dumping ground)
/future_improvements/
/docs/private

# Ignore private contributor folders
contributors/*/private

# Data testing scripts
test_scripts/

/contributors/one
/contributors/two
compose-files/docker-compose.one.yml
compose-files/docker-compose.two.yml